In [1]:
# Load Table into pandas dataframe

import pandas as pd
import numpy as np
from pathlib import Path

excel_file = Path.cwd().joinpath(r"C:\Users\joel_\Documents\Python Coding\SQLiteExample\SAP AFO Demo.xlsm")

df = pd.read_excel(excel_file, sheet_name="Sheet1")
df['MonthDate'] = pd.to_datetime(df['Year Period'].astype(str), format='%Y%m')
df

,Calendar Year,Calendar Month Year,Year Period,Company,Country,Business Unit,Group Key Account,Customer Name,Product Code,Product Name,Currency,Product Quantity,Sales Revenue,Cost of Goods Sold,MonthDate
0,2022,11/2022,202211,AU00,Australia,Beverage,Eats International,Essence Elixir,BEV005,Fruit Juice,AUD,33,14928.24,6623.05,2022-11-01
1,2022,11/2022,202211,AU00,Australia,Beverage,Eats International,Tasty Trails,BEV003,Mineral Water,AUD,95,48527.22,26091.74,2022-11-01
2,2022,11/2022,202211,AU00,Australia,Beverage,Gastro Globe,Culinary Canvas,BEV002,Lemonade,AUD,80,44204.45,24077.80,2022-11-01
3,2022,11/2022,202211,AU00,Australia,Beverage,Gastro Globe,Gourmet Glade,BEV002,Lemonade,AUD,53,18107.04,9756.01,2022-11-01
4,2022,11/2022,202211,AU00,Australia,Beverage,Snack Planet,Aroma Arcadia,BEV003,Mineral Water,AUD,69,20769.05,9174.26,2022-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,2022,11/2022,202211,US00,USA,Snacks,Global Foods,Nourish Nectar,SNA003,Popcorn,USD,37,575.72,358.80,2022-11-01
172,2022,11/2022,202211,US00,USA,Snacks,Global Foods,Spoonful Stories,SNA004,Mixed Nuts,USD,12,1791.05,1215.89,2022-11-01
173,2022,11/2022,202211,US00,USA,Snacks,Snack Planet,Munch Medley,SNA003,Popcorn,USD,58,13786.58,8652.79,2022-11-01
174,2022,11/2022,202211,US00,USA,Snacks,Snack Planet,Nourish Nook,SNA003,Popcorn,USD,60,22354.21,14792.55,2022-11-01
175,2022,11/2022,202211,US00,USA,Snacks,Taste World,Dish Delirium,SNA002,Pretzels,USD,59,16033.74,11060.08,2022-11-01

In [29]:
# Connect to SQL Database
import sqlite3
dbpath = r"C:\Users\joel_\Documents\Python Coding\SQLiteExample\FinanceDB.db"
conn = sqlite3.connect(dbpath)
cur = conn.cursor()
table_name = "SalesTable"

In [ ]:
# Insert dataframe/table into SQL Database
df.to_sql(table_name, conn, if_exists='append', index=False)
conn.close()